<app-header [@header]="headerAnimationState" (@header.done)="controller.deviceTypeIs('desktop') ? sidenav ? sidenav.open() : undefined : undefined"
  *ngIf="user.isSignIn()"></app-header>

<mat-sidenav-container [@container]="user.isSignIn() ? 'part' : 'full'" [ngClass]="{'content': user.isSignIn()}" class="separator">

  <mat-sidenav #sidenav [mode]="controller.deviceTypeIs('desktop') ? 'side' : 'over'" *ngIf="user.isSignIn()">
    <app-side></app-side>
  </mat-sidenav>

  <mat-sidenav-content [@content]="contentAnimationState">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<app-footer [@footer]="footerAnimationState" *ngIf="user.isSignIn()"></app-footer>
