app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

mat-sidenav {
  min-width: 18rem;
}

mat-sidenav-container {
  min-height: 100vh;
}

.content {
  padding: 64px 0 36px 0;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
