<mat-toolbar class="header bottom-shadow">

  <button mat-icon-button (click)="controller.sidenavShould()">
    <mat-icon>menu</mat-icon>
  </button>

  <a mat-button class="home" [routerLink]="routerList.home">
    <mat-icon>mail_outline</mat-icon>
    <span>邮箱</span>
  </a>

  <div class="separator"></div>

  <button mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <img matListAvatar src="assets/user.jpg" width="48px" height="48px">
  </button>

  <mat-menu #userMenu="matMenu">

    <button mat-menu-item>
      <mat-icon>sync</mat-icon>
      <span>刷新页面</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>个人信息</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>应用设置</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="user.signOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>退出登录</span>
    </button>

  </mat-menu>

</mat-toolbar>
