<div class="dialog">
  <mat-toolbar class="header">
    <h3>新邮件</h3>
    <div class="separator"></div>
    <!-- <button mat-button matTooltip="最大化">
      <mat-icon>maximize</mat-icon>
    </button> -->
    <button mat-button matTooltip="最小化">
      <mat-icon>minimize</mat-icon>
    </button>
    <button mat-button mat-dialog-close matTooltip="取消">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput required placeholder="收件人" [(ngModel)]="mail.to">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="主题" [(ngModel)]="mail.title">
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <textarea matInput matTextareaAutosize placeholder="邮件正文" [matAutosizeMinRows]="10" [matAutosizeMaxRows]="25"
        [(ngModel)]="mail.context"></textarea>
    </mat-form-field>
  </div>

  <mat-toolbar class="footer">
    <button mat-button matTooltip="存为草稿">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-button matTooltip="添加附件">
      <mat-icon>attachment</mat-icon>
    </button>
    <button mat-button color="warn" matTooltip="删除">
      <mat-icon>delete</mat-icon>
    </button>
    <div class="separator"></div>
    <button mat-button matTooltip="发送" color="primary">
      <mat-icon>send</mat-icon>
    </button>
  </mat-toolbar>

</div>
