<!-- 写邮件. -->
<button mat-raised-button class="compose" color="primary" (click)="controller.openDialogCompose()">
  <mat-icon>add</mat-icon>
  写邮件
</button>

<!-- 文件夹分组. -->
<mat-expansion-panel expanded>

  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>folder_open</mat-icon>
      文件夹
    </mat-panel-title>
    <mat-panel-description>0 封未读</mat-panel-description>
  </mat-expansion-panel-header>

  <mat-nav-list dense>
    <a mat-list-item *ngFor="let folder of user.folders; trackBy: trackByFn;" [routerLink]="folder.path">
      <mat-icon>{{ folder.icon }}</mat-icon>
      <span matLine>{{ folder.name }}</span>
    </a>
  </mat-nav-list>

</mat-expansion-panel>

<!-- 联系人分组. -->
<mat-expansion-panel expanded>

  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>perm_contact_calendar</mat-icon>
      联系人
    </mat-panel-title>
    <mat-panel-description>2 人在线</mat-panel-description>
  </mat-expansion-panel-header>

  <mat-nav-list dense>
    <a mat-list-item *ngFor="let contact of user.contacts; trackBy: trackByFn;" [routerLink]="['contact', contact.name]">
      <img matListAvatar [src]="contact.head" [alt]="contact.name">
      <span matLine>{{ contact.name }}</span>
      <button mat-icon-button (click)="undefined">
        <mat-icon>email</mat-icon>
      </button>
    </a>
  </mat-nav-list>

</mat-expansion-panel>

<!-- 日程表分组. -->
<mat-expansion-panel expanded>

  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>event</mat-icon>
      日程表
    </mat-panel-title>
    <mat-panel-description>1 待办事件</mat-panel-description>
  </mat-expansion-panel-header>

  <mat-nav-list dense>
    <a mat-list-item *ngFor="let todoEvent of user.todoEvents; trackBy: trackByFn;" [routerLink]="['todoevent', todoEvent.name + todoEvent.time]">
      <span matLine>{{ todoEvent.name }}</span>
      <mat-icon>{{ todoEvent.done ? 'event_available' : now() > todoEvent.time ? 'event_busy' : 'event_note'}}</mat-icon>
    </a>
  </mat-nav-list>

</mat-expansion-panel>
