@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icon-offline/style.css";

/** 去除默认边框. */
body {
  margin: 0;
  font-family: 'Consolas', '微软雅黑 Light', '微软雅黑', sans-serif;
}

/** 弹窗无外边距. */
.no-margin mat-dialog-container {
  margin: 0;
}

/** 弹窗无内边距. */
.no-padding mat-dialog-container {
  padding: 0;
}

/** 弹窗无阴影. */
.no-shadow mat-dialog-container {
  box-shadow: 0 0;
}

/** 弹窗占据窗口大小. */
.full-size mat-dialog-container, .full-size .dialog {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
}

/** 仅顶部阴影. */
.top-shadow, .top-shadow mat-dialog-container {
  box-shadow: 0 -5px 15px -7px rgba(0,0,0,.2);
}
/** 仅右侧阴影. */
.right-shadow, .right-shadow mat-dialog-container {
  box-shadow: 5px 0 15px -7px rgba(0,0,0,.2);
}
/** 仅底部阴影. */
.bottom-shadow, .bottom-shadow mat-dialog-container {
  box-shadow: 0 5px 15px -7px rgba(0,0,0,.2);
}
/** 仅左侧阴影. */
.left-shadow, .left-shadow mat-dialog-container {
  box-shadow: -5px 0 15px -7px rgba(0,0,0,.2);
}

/** 设置滚动条的样式. */
::-webkit-scrollbar {
  width: 0;
}

/** 占据所有空余. */
.separator {
  flex-grow: 1;
}
